.singleCategory{
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: var(--light-shadow);
}

.singleCategory > p{

    font-size: 24px;
    letter-spacing: 0.3em;
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin: 0 2em;
}
.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width:40vh ;
    height: 100%;
    margin-left: 8em;
    
}

.imgContainer > img {
    width: 35vh;
    height: 100%;
    object-fit: fill;
    padding: 5px;
}
.imgContainer > img:hover{
    transition: 0.2s ease-out;
    transform: scale(1.3);
}